* {
  margin: 0;
  padding: 0;
  position: relative;
}
.nav-bar {
  display: flex;
  float: right;
  position: relative;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.nav-link {
  color: white;
}
.nav-bar :hover {
  color: salmon;
}

.top-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  background-color: rgb(31, 54, 65);
  text-align: center;
  color: white;
  font-size: bold;
}
.title h1 {
  font-size: 5rem;
  font-weight: bold;
}
.under-title {
  font-size: 2.5rem;
}
.title,
.under-title {
  text-align: right;
  position: relative;
  top: 50%;
  right: 2%;
  margin: 0;
  padding: 0;
}
.under-title span {
  border-bottom: 3px solid salmon;
}

.title-image {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  position: relative;
  padding: 0;
  margin: 0;
}

.middle-section-1 {
  position: relative;
  background-color: white;
  text-align: center;
  color: rgb(31, 54, 65);
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 7%;
}
.my-skill {
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 15%;
}
.col-lg-4 {
  margin-bottom: 5%;
  margin-top: 3%;
}
.fab,
.fas {
  font-size: 3rem;
}

.middle-section-2 {
  background-color: rgb(31, 54, 65);
  color: white;
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 5%;
  margin-top: 3%;
}
.middle-section-2 h1 {
  text-decoration: underline;
}
